# ==========================================
# SEGURANÇA (NUNCA VERSIONAR)
# ==========================================
.env
.env.*
*.pem
*.key

# ==========================================
# BANCOS DE DADOS E DATA LAKE
# ==========================================
*.duckdb
*.duckdb.wal
*.duckdb.tmp
include/01-bronze-raw/*.parquet

# ==========================================
# PYTHON, VENV E AIRFLOW
# ==========================================
venv/
.venv/
env/
__pycache__/
*.py[cod]
logs/
.astro/

# ==========================================
# DBT (GLOBAL)
# ==========================================
**/target/
**/dbt_packages/
**/dbt_modules/
**/logs/